<p>Title: <%= @movie_info.title %></p>
<p>Year: <%= @movie_info.year %></p>
<p>Plot: <%= @movie_info.plot %></p>
<p>MPAA Rating: <%= @movie_info.mpaa_rating %></p>
<p>Rating: <%= @movie_info.rating %></p>


